/* CSS */
.fondoPrincipal {
  background: linear-gradient(135deg, rgba(26, 63, 118, 0.1), rgba(26, 63, 118, 0.2));
  padding: 30px 0;
}

.fondoCard {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.ImagenProvee {
  width: 160%;
  max-height: 150%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.nombreEmpresa {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #1a3f76;
  margin-bottom: 10px;
}

.especialidad {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.contacto {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.botones-separados {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.agendar,
.favoritosb {
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.agendar:hover,
.favoritosb:hover {
  background: #1a3f76;
  transform: scale(1.05);
}
