/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container-fluid {
    padding: 20px;
    margin: 0;
  }
  
  /* Estilos del texto de bienvenida */
  .text-section {
    text-align: center; /* Centrar el texto en el medio */
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .section-name {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px; /* Agregamos margen superior para separar del separador */
  }
  
  /* Estilos de los separadores */
  .separator {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido horizontalmente */
    margin-bottom: 40px;
  }
  
  .separator .line {
    flex: 1;
    height: 1px;
    background-color: #fff;
    margin: 0 20px; /* Ajustamos el margen para centrar la línea */
  }
  
  /* Estilos del carousel y las tarjetas */
  .carousel-section,
  .card-section {
    margin-bottom: 40px;
  }
  
  /* Estilos del footer */
  .footer {
    background: linear-gradient(to right, #0c3e70, #004f98);
    color: #fff;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact-info {
    text-align: center;
  }
  
  .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .social-icons .icon {
    font-size: 24px;
    margin: 0 5px;
    color: #fff;
    transition: color 0.3s;
  }
  
  .social-icons .icon:hover {
    color: #0c84e4;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-bottom a:hover {
    color: #0c84e4;
  }
  