
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.ContenidoTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #f8f8f8; /* Color de fondo aplicado solo al contenedor principal */
}

/* Estilos para la tarjeta de la empresa */
.company-card {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.company-card h2 {
  font-size: 50px;
  margin-top: 0;
}

.company-card p {
  font-size: 20px;
  margin-bottom: 5px;
}

.company-image-container {
  max-height: 160px;
  overflow: hidden;
  border-radius: 5px;
}

.company-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para los servicios */
.services-header {
  background-color: #f7f7f7;
  padding: 30px 0;
  text-align: center;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.service-card {
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card label {
  font-weight: bold;
}

.service-card small {
  color: #888;
}

.service-card input[type="radio"] {
  display: none;
}

.service-card label {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card label:hover {
  background-color: #0056b3;
}

.service-card input[type="radio"]:checked + label {
  background-color: #0056b3;
}

/* Estilos para el calendario */
.calendar-container {
  margin-top: 30px;
}

.rbc-calendar {
  font-size: 14px;
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.rbc-toolbar button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.rbc-toolbar button:last-child {
  margin-right: 0;
}

.rbc-toolbar button:hover {
  background-color: #0056b3;
}

.rbc-toolbar label {
  font-size: 18px;
  font-weight: bold;
}

.rbc-agenda-time-cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rbc-agenda-time-cell button {
  cursor: pointer;
  margin: 2px;
  width: 60px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.rbc-agenda-time-cell button:hover {
  background-color: #007bff;
  color: #fff;
}

/* Estilos para el formulario */
.form-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.form-container label {
  font-size: 16px;
  font-weight: bold;
}

.form-container select,
.form-container input[type="radio"],
.form-container input[type="time"] {
  font-size: 14px;
  padding: 5px;
  margin: 5px 0;
}

.form-container .submit-btn {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

.form-container .submit-btn:hover {
  background-color: #0056b3;
}

/* Estilos para el PDF */
.pdf-container {
  text-align: center;
  margin-top: 30px;
}

.pdf-container .pdf-link {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pdf-container .pdf-link:hover {
  background-color: #0056b3;
}

/* Estilos adicionales para mejorar la visualización y responsividad */
@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 100%;
    margin: 10px 0;
  }

  .pdf-container .pdf-link {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 24px;
  }

  .company-card {
    max-width: 100%;
  }

  .company-image {
    max-height: 200px;
  }

  .service-card {
    width: 100%;
    margin: 10px 0;
  }
}
.ContenidoTodo{
  
}