/* Favoritos.css */

/* Estilos para el botón */
.botonAgendar {
  background-color: #007bff; /* Color azul */
  border-color: #007bff;
  transition: background 0.2s ease, color 0.2s ease;
  font-weight: bold;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

.botonAgendar:hover {
  background-color: #0056b3; /* Color azul oscuro al pasar el mouse por encima */
  transform: scale(1.1); /* Efecto de agrandar al pasar el mouse por encima */
}
