.inicio{
    width: 20%;
    background-color: rgb(136, 156, 229);
    margin-left: 4%;
}
.navIni{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(183,238,255,1) 50%);
}
.LetrasSuperiores{
    margin-right: 45%;
    width: 20%;
}