.historial{
  margin-left: 5%;
    width: 10%;
}
.historialLetra{
    color: black;
}
.favoritos{
    width: 10%;
   
}
.favoritosLetra{
    color: black;

}
.buscar{
    width: 25%;
    margin-left: 5%;
}
