/* Estilos para el ícono en el navbar */
.nav-icon {
    margin-right: 5px;
    font-size: 20px;
  }
  
  /* Estilos para el enlace en el navbar */
  .nav-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s, transform 0.2s ease;
  }
  
  .nav-link:hover {
    background-color: #1f4164;
    transform: scale(1.05);
  }
  
  /* Estilos para el contenedor principal del navbar */
  .navUser {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el ícono de cierre de sesión */
  #cerrarSesion {
    color: #dc3545;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      align-items: center;
    }
  }
  